In [1]:
import pandas as pd
import numpy as np

# serires创建

In [2]:
'''
    使用列表创建
'''
ser01 = pd.Series([1,2,3,4])
ser01

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
'''
    使用数组创建
'''
ser02 = pd.Series(np.random.randint(1,9,5))
ser02

0    8
1    2
2    5
3    3
4    8
dtype: int32

In [5]:
'''
    使用字典创建Series
'''
dic = {
    'a':1,
    'b':2,
    'c':3
}
ser03 = pd.Series(dic)
ser03

a    1
b    2
c    3
dtype: int64

In [6]:
print(ser03.index)

Index(['a', 'b', 'c'], dtype='object')

In [7]:
print(ser03.values)

[1 2 3]

In [8]:
print(ser03.dtype)

int64

In [9]:
'''
    设置index
'''
ser02 = pd.Series(np.random.randint(1,9,5))
ser02

0    1
1    8
2    5
3    7
4    4
dtype: int32

In [10]:
# 修改index的值
ser02.index = list('abcde')
ser02

a    1
b    8
c    5
d    7
e    4
dtype: int32

In [11]:
#创建时 制定 index
ser02 = pd.Series(np.random.randint(1,9,5),index = ['a','b','c','d','e']) 
ser02

a    3
b    4
c    8
d    6
e    1
dtype: int32

In [12]:
'''
    常见属性
'''
ser02 = pd.Series(np.random.randint(1,9,5),index = ['a','b','c','d','e']) 
ser02

a    1
b    1
c    1
d    2
e    1
dtype: int32

In [13]:
ser02.name = '帅哥'
ser02

a    1
b    1
c    1
d    2
e    1
Name: 帅哥, dtype: int32

In [14]:
ser02.index.name = '编号'
ser02

编号
a    1
b    1
c    1
d    2
e    1
Name: 帅哥, dtype: int32

In [15]:
ser02.axes

[Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='编号')]

In [16]:
ser02.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='编号')

In [19]:
ser02.empty

False

In [20]:
ser02.ndim

1

In [21]:
ser02.size

5

In [22]:
ser02.head(3)

编号
a    1
b    1
c    1
Name: 帅哥, dtype: int32

In [23]:
ser02.tail(2)

编号
d    2
e    1
Name: 帅哥, dtype: int32

# 值获取

In [24]:
ser02 = pd.Series(np.random.randint(1,9,5),index = ['a','b','c','d','e']) 
ser02

a    6
b    5
c    2
d    3
e    6
dtype: int32

In [25]:
# 通过索引获取
ser02['a']

6

In [26]:
# 获取多个元素
ser02[['a','c']]

a    6
c    2
dtype: int32

In [27]:
# 切片
ser02['a':'c']

a    6
b    5
c    2
dtype: int32

In [30]:
ser02 = pd.Series(np.random.randint(1,9,5),index = ['a','b','b','d','e']) 
ser02

a    6
b    7
b    8
d    5
e    8
dtype: int32

In [31]:
ser02['b']

b    7
b    8
dtype: int32

In [32]:
ser02['b':'e']

b    7
b    8
d    5
e    8
dtype: int32

In [50]:
'''
    通过数字下标获取
'''
ser02 = pd.Series(np.random.randint(1,9,5),index = ['a','b','c','d','e']) 
ser02

a    3
b    6
c    1
d    1
e    4
dtype: int32

In [51]:
ser02[0]

3

In [52]:
ser02[[0,2]]

a    3
c    1
dtype: int32

In [53]:
ser02[1:4]

b    6
c    1
d    1
dtype: int32

In [54]:
ser02[-1]

4

In [48]:
# 具有形同索引
ser02 = pd.Series(np.random.randint(1,9,5),index = ['a','b','b','d','e']) 
ser02

a    5
b    5
c    6
d    6
e    5
dtype: int32

In [ ]:
ser02[0]  #相同索引 不能通过下标获取

# series的运算

In [55]:
ser01 = pd.Series(np.random.randint(1,5,5))
ser01

0    4
1    1
2    2
3    2
4    3
dtype: int32

In [58]:
# 与标量进行运算
print(ser01+10)
print(ser01-10)
print(ser01*10)
print(ser01/10)
print(ser01**2)

0    14
1    11
2    12
3    12
4    13
dtype: int32
0   -6
1   -9
2   -8
3   -8
4   -7
dtype: int32
0    40
1    10
2    20
3    20
4    30
dtype: int32
0    0.4
1    0.1
2    0.2
3    0.2
4    0.3
dtype: float64
0    16
1     1
2     4
3     4
4     9
dtype: int32

In [59]:
# series 与 series  的运算
ser01 = pd.Series(np.random.randint(1,5,5))
print(ser01)
ser02 = pd.Series(np.random.randint(1,5,5))
print(ser02)

0    3
1    4
2    4
3    2
4    2
dtype: int32
0    4
1    3
2    2
3    3
4    4
dtype: int32

In [61]:
print(ser01+ser02)
print(ser01-ser02)
print(ser01*ser02)
print(ser01/ser02)
print(ser01**ser02)

0    7
1    7
2    6
3    5
4    6
dtype: int32
0   -1
1    1
2    2
3   -1
4   -2
dtype: int32
0    12
1    12
2     8
3     6
4     8
dtype: int32
0    0.750000
1    1.333333
2    2.000000
3    0.666667
4    0.500000
dtype: float64
0    81
1    64
2    16
3     8
4    16
dtype: int32

In [62]:
# 直接使用numpy函数
np.log(ser01)

0    1.098612
1    1.386294
2    1.386294
3    0.693147
4    0.693147
dtype: float64

In [63]:
np.exp(ser01)

0    20.085537
1    54.598150
2    54.598150
3     7.389056
4     7.389056
dtype: float64

In [72]:
ser01[ser01<4]

0    3
3    2
4    2
dtype: int32

In [71]:
ser01<4

0     True
1    False
2    False
3     True
4     True
dtype: bool

# series自动对齐

In [73]:
ser01 = pd.Series(np.random.randint(1,5,5),index = list('abcde'))
print(ser01)
ser02 = pd.Series(np.random.randint(1,5,5),index = list('abmne'))
print(ser02)

a    1
b    3
c    2
d    4
e    3
dtype: int32
a    3
b    1
m    2
n    4
e    2
dtype: int32

In [75]:
mask = ser01+ser02   # 对于无法通过下标对应的数据 被重新赋值为NaN
mask

a    4.0
b    4.0
c    NaN
d    NaN
e    5.0
m    NaN
n    NaN
dtype: float64

In [76]:
np.isnan(mask)

a    False
b    False
c     True
d     True
e    False
m     True
n     True
dtype: bool

In [78]:
mask[~np.isnan(mask)]  # 结合numpy 函数过滤NaN数据

a    4.0
b    4.0
e    5.0
dtype: float64

# 缺失值检测

In [79]:
ser02 = pd.Series(np.random.randint(1,5,5),index = list('abmne'))
ser02['m'] = np.NaN
print(ser02)

a    2.0
b    4.0
m    NaN
n    4.0
e    1.0
dtype: float64

In [80]:
ser02.isnull()   # 返回一个bool series

a    False
b    False
m     True
n    False
e    False
dtype: bool

In [81]:
ser02[~ser02.isnull()]   # 过滤缺失值

a    2.0
b    4.0
n    4.0
e    1.0
dtype: float64

In [82]:
ser02.notnull()

a     True
b     True
m    False
n     True
e     True
dtype: bool

In [84]:
ser02[ser02.notnull()]   # 过滤缺失值

a    2.0
b    4.0
n    4.0
e    1.0
dtype: float64