In [1]:
#Variables 
#To assign the value 365 to the variable days, we enter the variable name, add an equals sign (=)

days = 365

In [2]:

days_1 = 365
days_2 = 366

In [3]:
number_of_days = 365
number_of_days = 366

In [3]:
#print 
print ('hello python')

hello python

In [5]:
number_of_days = 365
print(number_of_days)

365

In [1]:
#Data Types
#When we assign a value an integer value to a variable, we say that the variable is an instance of the integer class
#The two most common numerical types in Python are integer and float
#The most common non-numerical type is a string
str_test = "China"
int_test = 123
float_test = 122.5

print(str_test)
print(int_test)
print(float_test)

China
123
122.5

In [2]:
print(type(str_test))
print(type(int_test))
print(type(float_test))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
str_eight = str(8)  
#str_eight + 10
print (type(str_eight))
eight = 8
str_eight_two = str(eight)

str_eight = "8"
int_eight = int(str_eight)
int_eight + 10
print (type(int_eight))

<class 'str'>
<class 'int'>

In [7]:
str_test = 'test'
str_to_int = int(str_test)

ValueError: invalid literal for int() with base 10: 'test'

In [12]:
#Comments
#print test

In [3]:
"""
Addition: +
Subtraction: -
Multiplication: *
Division: /
Exponent: **
"""

'\nAddition: +\nSubtraction: -\nMultiplication: *\nDivision: /\nExponent: **\n'

In [4]:
china=10
united_states=100
china_plus_10 = china + 10
us_times_100 = united_states * 100
print(china_plus_10)
print(us_times_100)
print (china**3)

20
10000
1000

In [5]:
#LIST
months = []
print (type(months))
print (months)
months.append("January")
months.append("February")
print (months)

<class 'list'>
[]
['January', 'February']

In [6]:
months = []
months.append(1)
months.append("January")
months.append(2)
months.append("February")
print (months)

[1, 'January', 2, 'February']

In [7]:
temps = ["China", 122.5, "India", 124.0, "United States", 134.1]

In [11]:
countries = []
temperatures = []

countries.append("China")
countries.append("India")
countries.append("United States")

temperatures.append(30.5)
temperatures.append(25.0)
temperatures.append(15.1)

print (countries)
print (temperatures)
china = countries[1]
china_temperature = temperatures[1]
print (china)
print (china_temperature)

['China', 'India', 'United States']
[30.5, 25.0, 15.1]
India
25.0

In [23]:
int_months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
length = len(int_months) # Contains the integer value 12.
print (length)

12

In [14]:
int_months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
index = len(int_months) - 1
last_value = int_months[index] # Contains the value at index 11.
print (last_value)
print (int_months[-1])

12
12

In [29]:
#Slicing 
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"]
# Values at index 2, 3, but not 4.
two_four = months[2:4]  
print (two_four)

['Mar', 'Apr']

In [31]:
three_six = months[3:]
print (three_six)

['Apr', 'May', 'Jun', 'Jul']