In [1]:
import pandas as pd
import numpy as np

In [38]:
df = pd.DataFrame(np.random.randint(1,9,(5,2)),columns = ['a','b'])
df = df.set_index('a')
df

   b
a
5  6
8  6
4  2
2  3
1  8

In [39]:
df.reset_index()

   a  b
0  5  6
1  8  6
2  4  2
3  2  3
4  1  8