In [2]:
import pandas as pd
from tqdm import tqdm

import os
# from utils import reduce_mem_usage
import numpy as np

import random
from random import sample

random.seed(2020)

In [3]:
df_train_click = pd.read_csv('input/train_click_log.csv')
df_test_click = pd.read_csv('input/testA_click_log.csv')

df_train_click.shape, df_test_click.shape

((1112623, 9), (518010, 9))

In [4]:
# # 训练集采样
# all_user_ids = df_train_click.user_id.unique()
# sample_nums = len(all_user_ids) // 2

# sample_user_ids = np.random.choice(all_user_ids, size=sample_nums, replace=False)
# df_train_click = df_train_click[df_train_click['user_id'].isin(sample_user_ids)]

# df_train_click.shape, df_test_click.shape

In [5]:
train_users = df_train_click['user_id'].values.tolist()
# 随机采样出一部分样本
val_users  = sample(train_users, 50000)
len(set(val_users))

40258

In [ ]:
# 训练集用户 抽出行为数据最后一条作为label
click_list = []
train_query_list = []

groups = df_train_click.groupby(['user_id'])
for user_id, g in tqdm(groups):
    if user_id in val_users:
        train_query = g.tail(1)
        train_query_list.append(train_query[['user_id', 'click_article_id']])

        train_click = g.head(g.shape[0] - 1)
        click_list.append(train_click)
    else:
        click_list.append(g)

df_train_click = pd.concat(click_list, sort=False)
df_train_query = pd.concat(train_query_list, sort=False)

print(df_train_click.shape, df_train_query.shape)

 12%|████████▋                                                                 | 23499/200000 [01:01<08:31, 345.01it/s]

In [6]:
df_train_click.shape, df_test_click.shape

((1072365, 9), (518010, 9))

In [7]:
test_users = df_test_click['user_id'].unique()
test_query_list = []

for user in tqdm(test_users):
    test_query_list.append([user, -1])

df_test_query = pd.DataFrame(test_query_list, columns=[
                             'user_id', 'click_article_id'])

100%|██████████████████████████████████████████████████████████████████████████| 50000/50000 [00:00<00:00, 2046221.55it/s]

In [8]:
df_train_query.shape, df_test_query.shape

((40258, 2), (50000, 2))

In [9]:
df_query = pd.concat([df_train_query, df_test_query],
                     sort=False).reset_index(drop=True)
df_click = pd.concat([df_train_click, df_test_click],
                     sort=False).reset_index(drop=True)

In [10]:
df_query.head()

   user_id  click_article_id
0        8             50644
1       13            277107
2       20            285300
3       22            107190
4       24            156279

In [11]:
df_click = df_click.sort_values(
    ['user_id', 'click_timestamp']).reset_index(drop=True)

In [12]:
df_click.head()

,user_id,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,30760,1508211672520,4,1,17,1,25,2
1,0,157507,1508211702520,4,1,17,1,25,2
2,1,289197,1508211316889,4,1,17,1,25,6
3,1,63746,1508211346889,4,1,17,1,25,6
4,2,36162,1508211438695,4,3,20,1,25,2

In [13]:
df_click = reduce_mem_usage(df_click)
df_query = reduce_mem_usage(df_query)

Mem. usage decreased to 33.37 Mb (69.4% reduction)
Mem. usage decreased to  0.69 Mb (50.0% reduction)

In [14]:
os.makedirs('data', exist_ok=True)
df_click.to_pickle('data/click.pkl')
df_query.to_pickle('data/query.pkl')