In [1]:
import pandas as pd 
import numpy as np

# 创建DataFrame

In [2]:
'''
    通过列表创建
'''
li = [[1,2,3,4],[5,6,7,8]]

df01 = pd.DataFrame(li)
df01

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [3]:
df01.index

RangeIndex(start=0, stop=2, step=1)

In [4]:
df01.columns

RangeIndex(start=0, stop=4, step=1)

In [5]:
df01.values

array([[1, 2, 3, 4],
       [5, 6, 7, 8]], dtype=int64)

In [10]:
'''
    通过series创建
'''
ser01 = pd.Series([1,2,3,4])
ser02 = pd.Series([1,2,3,4])
df02 = pd.DataFrame([ser01,ser02])
df02

   0  1  2  3
0  1  2  3  4
1  1  2  3  4

In [14]:
'''
    数组创建
'''
arr = np.random.randint(1,9,(3,3))
df02 = pd.DataFrame(arr)
df02

   0  1  2
0  4  7  3
1  2  4  7
2  8  7  4

In [17]:
'''
    字典创建
'''
dic = {
    'name':['joe','anne','yilianna'],   #  key 就是 列索引
    'age':[18,19,20],
    'class':1                          # 整列数据会被标量填充
} 
df03 = pd.DataFrame(dic)
df03

   age  class      name
0   18      1       joe
1   19      1      anne
2   20      1  yilianna