In [1]:
import pandas #ipython notebook
titanic = pandas.read_csv("titanic_train.csv")
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [2]:
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
print(titanic.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [3]:
print(titanic["Sex"].unique())

# Replace all the occurences of male with the number 0.
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1

['male' 'female']

In [4]:
print(titanic["Embarked"].unique())
titanic["Embarked"] = titanic["Embarked"].fillna('S')
titanic.loc[titanic["Embarked"] == "S", "Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2

['S' 'C' 'Q' nan]

In [5]:
# Import the linear regression class
from sklearn.linear_model import LinearRegression
# Sklearn also has a helper that makes it easy to do cross validation
from sklearn.model_selection import KFold

# The columns we'll use to predict the target
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm class
alg = LinearRegression()
# Generate cross validation folds for the titanic dataset.  It return the row indices corresponding to train and test.
# We set random_state to ensure we get the same splits every time we run this.

# kf = KFold(titanic.shape[0], n_folds=3, random_state=1)
kf=KFold(n_splits=3,shuffle=False)
predictions = []
for train, test in kf.split(titanic):
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (titanic[predictors].iloc[train,:])
    # The target we're using to train the algorithm.
    train_target = titanic["Survived"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    # We can now make predictions on the test fold
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predictions)

In [6]:
import numpy as np

# The predictions are in three separate numpy arrays.  Concatenate them into one.  
# We concatenate them on axis 0, as they only have one axis.
predictions = np.concatenate(predictions, axis=0)

# Map predictions to outcomes (only possible outcomes are 1 and 0)
predictions[predictions > .5] = 1
predictions[predictions <=.5] = 0
accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)
print(accuracy)

0.2615039281705948

In [7]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
# Initialize our algorithm
alg = LogisticRegression(random_state=1,solver='liblinear')
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
scores = model_selection.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=3)
# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.7878787878787877

In [8]:
titanic_test = pandas.read_csv("test.csv")
titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].median())
titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())
titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0 
titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1
titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")

titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

In [9]:
from sklearn import model_selection
from sklearn.ensemble import RandomForestClassifier

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm with the default paramters
# n_estimators is the number of trees we want to make
# min_samples_split is the minimum number of rows we need to make a split
# min_samples_leaf is the minimum number of samples we can have at the place where a tree branch ends (the bottom points of the tree)
alg = RandomForestClassifier(random_state=1, n_estimators=10, min_samples_split=2, min_samples_leaf=1)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)

kf=KFold(n_splits=3,shuffle=False)
scores = model_selection.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)

# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.7856341189674523

In [10]:
alg = RandomForestClassifier(random_state=1, n_estimators=100, min_samples_split=4, min_samples_leaf=2)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)

kf=KFold(n_splits=3,shuffle=False)
scores = model_selection.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)

# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.8148148148148148

In [11]:
# Generating a familysize column
titanic["FamilySize"] = titanic["SibSp"] + titanic["Parch"]

# The .apply method generates a new series
titanic["NameLength"] = titanic["Name"].apply(lambda x: len(x))

In [12]:
import re

# A function to get the title from a name.
def get_title(name):
    # Use a regular expression to search for a title.  Titles always consist of capital and lowercase letters, and end with a period.
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""

# Get all the titles and print how often each one occurs.
titles = titanic["Name"].apply(get_title)
print(pandas.value_counts(titles))

# Map each title to an integer.  Some titles are very rare, and are compressed into the same codes as other titles.
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2}
for k,v in title_mapping.items():
    titles[titles == k] = v

# Verify that we converted everything.
print(pandas.value_counts(titles))

# Add in the title column.
titanic["Title"] = titles

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Capt          1
Countess      1
Sir           1
Ms            1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: Name, dtype: int64
1     517
2     183
3     125
4      40
5       7
6       6
7       5
10      3
8       3
9       2
Name: Name, dtype: int64

In [13]:
import numpy as np
from sklearn.feature_selection import SelectKBest, f_classif
import matplotlib.pyplot as plt
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "FamilySize", "Title", "NameLength"]

# Perform feature selection
selector = SelectKBest(f_classif, k=5)
selector.fit(titanic[predictors], titanic["Survived"])

# Get the raw p-values for each feature, and transform from p-values into scores
scores = -np.log10(selector.pvalues_)

# Plot the scores.  See how "Pclass", "Sex", "Title", and "Fare" are the best?
plt.figure()
plt.bar(range(len(predictors)), scores)
plt.xticks(range(len(predictors)), predictors, rotation='vertical')
plt.show()

# Pick only the four best features.
predictors = ["Pclass", "Sex", "Fare", "Title"]

alg = RandomForestClassifier(random_state=1, n_estimators=50, min_samples_split=8, min_samples_leaf=4)

In [14]:
from sklearn.ensemble import GradientBoostingClassifier
import numpy as np

# The algorithms we want to ensemble.
# We're using the more linear predictors for the logistic regression, and everything with the gradient boosting classifier.
algorithms = [
    [GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title",]],
    [LogisticRegression(random_state=1,solver='liblinear'), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]
]

# Initialize the cross validation folds

kf=KFold(n_splits=3,shuffle=False)
predictions = []
for train, test in kf.split(titanic):
    train_target = titanic["Survived"].iloc[train]
    full_test_predictions = []
    # Make predictions for each algorithm on each fold
    for alg, predictors in algorithms:
        # Fit the algorithm on the training data.
        alg.fit(titanic[predictors].iloc[train,:], train_target)
        # Select and predict on the test fold.  
        # The .astype(float) is necessary to convert the dataframe to all floats and avoid an sklearn error.
        test_predictions = alg.predict_proba(titanic[predictors].iloc[test,:].astype(float))[:,1]
        full_test_predictions.append(test_predictions)
    # Use a simple ensembling scheme -- just average the predictions to get the final classification.
    test_predictions = (full_test_predictions[0] + full_test_predictions[1]) / 2
    # Any value over .5 is assumed to be a 1 prediction, and below .5 is a 0 prediction.
    test_predictions[test_predictions <= .5] = 0
    test_predictions[test_predictions > .5] = 1
    predictions.append(test_predictions)

# Put all the predictions together into one array.
predictions = np.concatenate(predictions, axis=0)

# Compute accuracy by comparing to the training data.
accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)
print(accuracy)

0.27946127946127947

In [15]:
titles = titanic_test["Name"].apply(get_title)
# We're adding the Dona title to the mapping, because it's in the test set, but not the training set
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2, "Dona": 10}
for k,v in title_mapping.items():
    titles[titles == k] = v
titanic_test["Title"] = titles
# Check the counts of each unique title.
print(pandas.value_counts(titanic_test["Title"]))

# Now, we add the family size column.
titanic_test["FamilySize"] = titanic_test["SibSp"] + titanic_test["Parch"]

1     240
2      79
3      72
4      21
7       2
6       2
10      1
5       1
Name: Title, dtype: int64

In [16]:
predictors = ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title"]

algorithms = [
    [GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), predictors],
    [LogisticRegression(random_state=1,solver='liblinear'), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]
]

full_predictions = []
for alg, predictors in algorithms:
    # Fit the algorithm using the full training data.
    alg.fit(titanic[predictors], titanic["Survived"])
    # Predict using the test dataset.  We have to convert all the columns to floats to avoid an error.
    predictions = alg.predict_proba(titanic_test[predictors].astype(float))[:,1]
    full_predictions.append(predictions)

# The gradient boosting classifier generates better predictions, so we weight it higher.
predictions = (full_predictions[0] * 3 + full_predictions[1]) / 4
predictions

array([0.11682899, 0.47835519, 0.126148  , 0.13098148, 0.52105857,
       0.14352084, 0.64085306, 0.18003145, 0.67801342, 0.12111115,
       0.12105172, 0.20902088, 0.91068384, 0.10891259, 0.89142092,
       0.87713468, 0.16349835, 0.13907781, 0.54103212, 0.55660962,
       0.22420853, 0.53720782, 0.9057222 , 0.38890594, 0.88384779,
       0.10357309, 0.90909442, 0.13746444, 0.31046223, 0.12665712,
       0.11663753, 0.18274849, 0.55220968, 0.49648555, 0.42415291,
       0.14191043, 0.50973613, 0.52452192, 0.13270498, 0.28366689,
       0.11145273, 0.4661879 , 0.09996492, 0.83420602, 0.89959108,
       0.14983408, 0.31593388, 0.1378961 , 0.89104172, 0.54189534,
       0.35666364, 0.17718118, 0.83071941, 0.87995558, 0.17559052,
       0.13741806, 0.1066727 , 0.12343841, 0.12099729, 0.9128518 ,
       0.13099153, 0.1534193 , 0.1299396 , 0.6657319 , 0.66343904,
       0.87272594, 0.67238701, 0.28826475, 0.35236554, 0.85565547,
       0.66224122, 0.12701985, 0.55390038, 0.36740445, 0.91110321,
       0.41201959, 0.13013995, 0.83671244, 0.15614397, 0.66224122,
       0.68129213, 0.2060574 , 0.20382593, 0.12105172, 0.18486613,
       0.13130204, 0.65680517, 0.53029844, 0.65489608, 0.7988122 ,
       0.5376453 , 0.12104019, 0.89137248, 0.13013995, 0.2840623 ,
       0.12345358, 0.86792447, 0.14666328, 0.58599445, 0.12260772,
       0.90433457, 0.14730807, 0.1378961 , 0.12262424, 0.6225748 ,
       0.13155867, 0.14607742, 0.1378961 , 0.13020327, 0.17473022,
       0.14286371, 0.65490294, 0.89528109, 0.67146746, 0.8834603 ,
       0.13992072, 0.11805053, 0.6961252 , 0.36668935, 0.86241686,
       0.87649288, 0.12609316, 0.90276368, 0.12099017, 0.1378961 ,
       0.56971925, 0.12608173, 0.63733724, 0.13339977, 0.13340565,
       0.12723628, 0.51609573, 0.23921856, 0.10791686, 0.09896728,
       0.12431115, 0.13346484, 0.16214083, 0.52029414, 0.12232634,
       0.20712069, 0.90529657, 0.1974796 , 0.16153703, 0.42927565,
       0.10487172, 0.33642486, 0.13518406, 0.4661879 , 0.34478737,
       0.91431379, 0.13214988, 0.10690991, 0.48983611, 0.11274825,
       0.12427859, 0.9107017 , 0.57991612, 0.42927565, 0.51274026,
       0.65489216, 0.57884521, 0.82113368, 0.12096639, 0.28979572,
       0.58587091, 0.30130446, 0.14606802, 0.90250406, 0.5225736 ,
       0.12101874, 0.13299487, 0.12418528, 0.13207476, 0.13196548,
       0.87293581, 0.87633411, 0.29670305, 0.83389508, 0.85558658,
       0.15614397, 0.33352244, 0.90219083, 0.1378961 , 0.91718929,
       0.13602985, 0.8548238 , 0.12241397, 0.14217315, 0.13560668,
       0.13488018, 0.25547165, 0.49950985, 0.12729473, 0.71980837,
       0.10795459, 0.85516538, 0.58990435, 0.16645654, 0.53980331,
       0.6486795 , 0.66329192, 0.60981597, 0.87333316, 0.16322623,
       0.2569663 , 0.63083493, 0.16482576, 0.889847  , 0.12346399,
       0.12849645, 0.12097114, 0.24675042, 0.80199944, 0.41248321,
       0.29768126, 0.65492641, 0.21860355, 0.9002742 , 0.13013995,
       0.81370002, 0.13611134, 0.84275385, 0.1270082 , 0.87789269,
       0.59807972, 0.12518079, 0.65489608, 0.11487484, 0.14413092,
       0.25075179, 0.89266283, 0.11622676, 0.13791318, 0.34224631,
       0.12796765, 0.19365841, 0.14018892, 0.80948179, 0.89790831,
       0.87598946, 0.82598142, 0.3303657 , 0.12105092, 0.33258148,
       0.28710728, 0.87902944, 0.16058977, 0.86241686, 0.59133072,
       0.74586499, 0.15434318, 0.39647464, 0.1335426 , 0.12701854,
       0.12101874, 0.1378961 , 0.13013995, 0.83005779, 0.12700577,
       0.10894947, 0.127015  , 0.85003748, 0.64929879, 0.1661952 ,
       0.12105172, 0.21820988, 0.12101874, 0.50973613, 0.14016474,
       0.34495847, 0.1378961 , 0.91564005, 0.63328239, 0.13207428,
       0.85713525, 0.15861619, 0.12500103, 0.14267163, 0.16811839,
       0.52045056, 0.66231861, 0.65489608, 0.6413678 , 0.71198858,
       0.10601075, 0.12099017, 0.36278092, 0.13207476, 0.13013995,
       0.33304444, 0.59319564, 0.13207476, 0.50584332, 0.12081667,
       0.12263646, 0.77903184, 0.12665712, 0.33024471, 0.12028966,
       0.11813947, 0.17547869, 0.12169396, 0.13347136, 0.65489608,
       0.82133579, 0.33497558, 0.67696016, 0.20916496, 0.42575069,
       0.13912862, 0.13799519, 0.12102113, 0.6190471 , 0.90111958,
       0.67393636, 0.23919461, 0.17328793, 0.12182844, 0.18522946,
       0.12262424, 0.13491468, 0.16214083, 0.45541284, 0.90601345,
       0.12509874, 0.86563779, 0.34598563, 0.14469708, 0.17034205,
       0.82147594, 0.32823545, 0.13207428, 0.643229  , 0.12183253,
       0.25111378, 0.15333408, 0.0937008 , 0.20950793, 0.35411784,
       0.17507136, 0.1181229 , 0.1469565 , 0.9155648 , 0.3365764 ,
       0.61836789, 0.16214083, 0.62462647, 0.16542876, 0.85157867,
       0.89603818, 0.16322623, 0.2447282 , 0.16066604, 0.70031034,
       0.15642427, 0.85672619, 0.12105013, 0.1378961 , 0.57255211,
       0.10418825, 0.8767247 , 0.86918826, 0.13098148, 0.91914163,
       0.15715005, 0.13130242, 0.53322123, 0.8956296 , 0.17356035,
       0.15319832, 0.90891505, 0.16307905, 0.13130556, 0.87654846,
       0.90969198, 0.4885334 , 0.17002313, 0.1986694 , 0.13510978,
       0.1378961 , 0.14010253, 0.54133831, 0.59499229, 0.15905619,
       0.83276878, 0.12430267, 0.12019371, 0.14606626, 0.18789786,
       0.38579325, 0.87750045, 0.56459189, 0.12807821, 0.10318129,
       0.91169573, 0.14231512, 0.88773171, 0.12607937, 0.12971132,
       0.90753806, 0.12635149, 0.90891638, 0.35988717, 0.30442398,
       0.1896679 , 0.15015198, 0.26822437, 0.65488923, 0.64585316,
       0.65489608, 0.90711865, 0.56933453, 0.13013995, 0.86010063,
       0.10126665, 0.13013995, 0.41850299])